/* http: //meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote: before, blockquote: after,
q: before, q: after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/************************/
/* BEGINNING OF GLOBALS */
/************************/
body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.04rem;
    font-weight: 300;
    text-align: center;
}

section {
    border: 1px solid brown;
}

.topNav,
.navLinkContainer,
.navAssetContainer,
.navLinks
{
    display: flex;  /* From how I understand it, flex and inline-flex
                        are an updated version of block and inline-block? */
}
/******************/
/* END OF GLOBALS */
/******************/

/*******************************/
/* BEGINNING OF NAVIGATION BAR */
/*******************************/
.topNav{
    /* Fixed Nav POsition Code */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    background-color: white;
}

/*logo, duh*/
.logo {
    height: 70px;
    width: 27px;
}

/*Logo & Link container*/
.navAssetContainer {
    padding: 0 1.5%;   /* sets the padding of the interior container */
    margin: 0 auto;    /* centers the container to the middle of the screen */
    width: 57.5%;
    height: 70px;
    flex-flow: row-reverse nowrap;  /* row-reverse displays log & links back-->front
                                       nowrap keeps them on the same line*/
    justify-content: space-between; /* Positions the logo and the link container
                                       on opposite sites of the group container*/
}

/*navigation links*/
.navLinks {
    margin-left: 25px;
}

/*link container*/
.navLinkContainer {
    margin: auto 0;
    flex-wrap: nowrap;
}

.linkDecoration:link, .linkDecoration:visited, .activeLink:link, .activeLink:visited {
    text-decoration: none;
}

.linkDecoration:link, .linkDecoration:visited
{
    color: #838994;

}

/* higlight links on hover */
.navLinks > .linkDecoration:hover {
    cursor: pointer;
    color: #333333;


}
/* bold the active web page link */
.activeLink:link, .activeLink:visited, .activeLink > .linkDecoration:hover {
    color: #4c5058;
    font-weight: 500;
}

/**************************/
/*  END OF NAVIGATION BAR */
/**************************/

/*************************************/
/*  BEGINNING OF INTRODUCTION MODULE */
/*************************************/
.introModule {

    margin-top: 70px;   /* moved everthing down below the fixed navigation bar*/
    background: url(https://dl.dropboxusercontent.com/u/39027906/first-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 41.2rem;

}

.introModule,
.introHeadContainer,
.introSubheadContainer,
.introButtonContainer
{
    display: flex;              /* These 3 lines allowed me      */
    align-items: center;        /* to center the .introContainer */
    justify-content: center;    /* within this .introModule      */
}

.introHeadContainer,
.introSubheadContainer,
.introButtonContainer {
    padding: 7.5px;
}
.introModule, .introButton {
    color: white;
}


.introHead {
    font-size: 3em;
}

.introSubhead {
    font-size: 1.563em;

}

.introButton {

   background-color: #f15a29;
   max-width: 30%;
   border-color: #f15a29;
   border-radius: 4px;
   border-style: none;
   padding: 1em 1.5em;
   font-size: 1em;
}


/*******************************/
/*  END OF INTRODUCTION MODULE */
/*******************************/

/***************************************/
/*  START OF "WHAT DO THEY DO?" MODULE */
/***************************************/

/************************************/
/* END OF "WHAT DO THEY DO?" MODULE */
/************************************/

/***************************/
/*  START OF FOOTER MODULE */
/***************************/

/************************/
/* END OF FOOTER MODULE */
/************************/